<div class="modal-header">
    <h4 class="modal-title pull-left">{{ 'courseLabsCreateModalTitle' | translate }}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<form [formGroup]="createCourseLabForm">
    <div class="modal-body">
        <div class="form-group">
            <label for="labname">{{ 'courseLabsCreateModalName' | translate }}</label>
            <input type="text" 
                    class="form-control" 
                    id="labname" 
                    formControlName="labname"
                    placeholder="{{ 'courseLabsCreateModalNamePlaceholder' | translate }}">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" 
                class="btn btn-success"
                (click)="createCourseLab()">
            {{ 'courseLabsCreateModalSubmit' | translate }}
        </button>
    </div>
</form>