APP_VERSION=local
PUBLIC_HOST=zenrot.root.sx
ADMIN_PORT=18080
DASHBOARD_PORT=18081
GITLAB_HTTP_PORT=18082
GITLAB_SSH_PORT=18022
POSTGRES_HOST_PORT=15432
PLAGIARISM_PORT=15289
MAILPIT_WEB_PORT=18083
LABSERVER_DATA_DIR=/home/alexey/trspo-3lab/data
POSTGRES_DB=labs
POSTGRES_PASSWORD=changeit
JWT_SECURITY_KEY=changeit-to-long-random-value
GITLAB_TOKEN=glpat-changeit
SMTP_DOMAIN=mailpit
SMTP_EMAIL=noreply@zenrot.root.sx
SMTP_USERNAME=labserver
SMTP_PASSWORD=labserver
SMTP_SSL=false
SMTP_PORT=1025
DISABLE_BACKGROUND_SERVICES=false
DATABASE_ENSURE_CREATED_ON_STARTUP=true
OLLAMA_BASE_URL=http://host.docker.internal:11434
